<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      <%= @current_user.username %>'s Visited Countries
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new country visit
    </h2>

    <form action="/insert_country_visit" method="post">
      <div class="form-group">
        <label for="country_box">
          Country
        </label>

        <input type="text" id="country_box" name="query_country" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create country visit
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Country
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @user_visits.each do |country_visit| %>
      <tr>
        <td>
          <%= country_visit.id %>
        </td>

        <td>
          <%= country_visit.country %>
        </td>

        <td>
          <%= time_ago_in_words(country_visit.created_at) %> ago
        </td>

        <td>
          <a href="/country_visits/<%= country_visit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
