<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Visited Countries
    </h2>
  </div>
</div>
<div>
  <table class="homepage_profile_section">
    <tr>
      <th>
        <a href="/"><%= @current_user.username %> </a>
      </th>

      <th>
        <a href="/country_visits/"> <%= @user_countries_visit.count %> 
        Countries Visited </a>
      </th>

      <th>
        <a href="/country_hit_lists/"><%= @user_countries_hit.count %> 
        Countries to Hit </a>
      </th>

      <th>
        <a href="/followers"><%= @current_user.followers.count %>
        Followers</a>
      </th>

      <th>
        <a href="/following"><%= @current_user.leaders.count %> 
        Following</a>
      </th>
    </tr> 
  </table>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new country visit
    </h2>

    <form action="/insert_country_visit" method="post">
      <div class="form-group">
        <label for="country_box">
          Country
        </label>

        <input type="text" id="country_box" name="query_country" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create country visit
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Country
        </th>

        <th>
          Created at
        </th>

        <th>
          Edit
        </th>

        <th>
          
        </th>
      </tr>

      <% @user_visits.each do |country_visit| %>
      <tr>
        <td>
          <%= country_visit.country %>
        </td>

        <td>
          <%= time_ago_in_words(country_visit.created_at) %> ago
        </td>

        <td>
          <a href="/country_visits/<%= country_visit.id %>">
            Show details
          </a>
        </td>

        <td>
          <a href="/delete_country_visit/<%= country_visit.id %>">
            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
            </svg>
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
