<div>
<h2><%= @userpage.username %> </h2>
</div>
<hr>

<table>
  <tr>
    <% if @userpage.followers.pluck(:sender_id).include?(@current_user.id) == true %>
      <%# UNFOLLOW BUTTON %>
       
          <form action="/delete_follow_request/<%= FollowRequest.all.where({ :recipient_id => @userpage.id }).where({ :sender_id => @current_user.id }).at(0).id%>" method="post">
          
          <button class="btn btn-block btn-outline-secondary">
              Unfollow
          </button>

          </form>
  
      <% else %>
        <%# FOLLOW BUTTON %>
                 
            <form action="/insert_follow_request" method="post">

              <div class="form-group">
                    <input type="hidden" id="recipient_id_box" name="query_recipient_id" class="form-control" value="<%= @userpage.id %>">
              </div>
                <button class="btn btn-block btn-outline-secondary">
                    Follow
                </button>
            </form>

    <% end %> 
  </tr>
</table>

<hr>

<div>
  <table class="userpage_profile_section">
    <tr>
      <th>
        <a href="/users/<%= @userpage.username %>"><%= @userpage.username %> </a>
      </th>

      <th>
        <a href="/users/<%= @userpage.username %>/visits"> <%= @userpage_countries_visit.count %> 
        Countries Visited</a>
      </th>

      <th>
        <a href="/users/<%= @userpage.username %>/hit_list"> <%= @userpage_countries_hit.count %> 
        Countries to Hit </a>
      </th>

      <th>
        <a href="/users/<%= @userpage.username %>/followers"> <%= @userpage.followers.count %>
        Followers </a>
      </th>

      <th>
        <a href="/users/<%= @userpage.username %>/following"> <%= @userpage.leaders.count %> 
        Following </a>
      </th>
    </tr> 
  </table>
</div>
<hr>



<%# CURRENT FOLLOWERS %>
<hr>
<h4>Followers</h4>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          User
        </th>

        <th>
          Since
        </th>

      </tr>

      <% @userpage_afollow_requests.each do |follow_request| %>
      <tr>
        <td>
          <a href="/users/<%= User.all.where({:id => follow_request.sender_id}).at(0).username %>">
            <%= User.all.where({:id => follow_request.sender_id}).at(0).username %>
          </a>
        </td>

        <td>
          <%= time_ago_in_words(follow_request.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
