<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Country hit list details
    </h1>

    <div>
      <div >
        <a href="/users/<%= User.where({ :id => @country_visit.user_id}).at(0).username %>" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

    <dl>
      <dt>
        Country
      </dt>
      <dd>
        <%= @country_hit_list.country %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= User.where({ :id => @country_hit_list.user_id}).at(0).username %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@country_hit_list.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@country_hit_list.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user.username == User.where({ :id => @country_visit.user_id}).at(0).username %>
    <%# SHOW THE EDIT SECTION %>
    <div>
      <div>
        <h2>
          Edit country hit list
        </h2>

        <form action="/modify_country_hit_list/<%= @country_hit_list.id %>"  method="post" >
          <div class="form-group">
            <label for="user_id_box">
              User
            </label>

            <input type="hidden" id="user_id_box" name="query_user_id" class="form-control" value="<%= @country_hit_list.user_id %>">
          </div>

          <div class="form-group">
            <label for="country_box">
              Country
            </label>

            <input type="text" id="country_box" name="query_country" class="form-control" value="<%= @country_hit_list.country %>">
          </div>
                  
          <div class="row mb-3">
            <div class="col">
              <button class="btn btn-block btn-outline-secondary">
                Update country hit list
              </button>
            </div>

            <div class="col">
              <a href="/delete_country_hit_list/<%= @country_hit_list.id %>" class="btn btn-block btn-outline-secondary">
                Delete country hit list
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

